body{
background-color: black;
color: white;
}


/*card container*/

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.card{
background-color: transparent;
}

.image-container {
    position: relative;
}

.card-img-top {
    transition: filter 0.3s ease;
}

.hover-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card-img-top {
    filter: brightness(0.7);
}

.card:hover .hover-container {
    opacity: 1;
}

.hover-container h3 {
    color: #fff;
    font-size: 30px;
}

.hover-container .btn {
    color: #fff;
}



/*home*/

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 270px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.btn-transparent {
    background-color: transparent;
    color: #ffffff; /* Colore del testo bianco */
    border-color: #ffffff; /* Colore del bordino bianco */
}

/*detail page*/


.detail-container {

    height: 90vh;
    background: no-repeat center center fixed;
    background-size: cover;
}

.full-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    height:100%;
}

.title-detail{
font-size:6rem;

}

.full-container p{
font-size:1.3rem;

}

.full-container ul{
list-style:none;
display:flex;
gap:10px;
}

.full-container li{

border: 1px solid white;
padding: 10px;

}


