body{
background-color: black;
color: white;
}


/*card container*/

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.card{
background-color: transparent;
}

.image-container {
    position: relative;
}

.card-img-top {
    transition: filter 0.3s ease;
}

.hover-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card-img-top {
    filter: brightness(0.7);
}

.card:hover .hover-container {
    opacity: 1;
}

.hover-container h3 {
    color: #fff;
    font-size: 30px;
}

.hover-container .btn {
    color: #fff;
}



/*home*/

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 270px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.btn-transparent {
    background-color: transparent;
    color: #ffffff; /* Colore del testo bianco */
    border-color: #ffffff; /* Colore del bordino bianco */
}

/*detail page*/


.detail-container {

    height: 90vh;
    background: no-repeat center center fixed;
    background-size: cover;
}

.full-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    height:100%;
}

.title-detail{
font-size:6rem;

}

.full-container p{
font-size:1.3rem;

}

.full-container ul{
list-style:none;
display:flex;
gap:10px;
}

.full-container li{

border: 1px solid white;
padding: 10px;

}


/*Search bar*/

.search-bar{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.input-search{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.icon{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-bar:hover,
.search-bar:valid{
    width: 200px;
    cursor: pointer;
}

.search-bar:hover input,
.search-bar:valid input{
    display: block;
}

.search-bar:hover .icon,
.search-bar:valid .icon{
    background: #07051a;
    color: white;
}


.link-search-bar {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

.search-bar:valid a {
  display: block;
}

.btn-search-bar{

  cursor: pointer;
 background-color: transparent;
}

/*plus btn*/

.plus-ico{
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display:flex;
        justify-content: center;
        align-items:center;
}


/*LOGIN BOX*/

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


/*modal */

.modal-open .modal {
            overflow-x: hidden;
            overflow-y: auto;

            background-size: cover;

        }

        .modal-content {
            background-color: #151414;
            color: white;
            padding: 13px;
        }

        .container-chk {
            display: block;
            position: relative;
            padding-left: 22px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            height: 52px;
        }

        .set {
            width: 100%;
            height: 67px;
            border-radius: 4px;
            background: #252222;
            padding-top: 16px;
            padding-left: 16px;
            margin-bottom: 10px;

        }

        /* Hide the browser's default checkbox */
        .container-chk input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 17px;
            width: 17px;
            border-radius: 3px;
            background-color: #212121;
            border: 1px solid;
        }

        /* On mouse-over, add a grey background color */
        .container-chk:hover input~.checkmark {
            background-color: white;
        }

        /* When the checkbox is checked, add a blue background */
        .container-chk input:checked~.checkmark {
            background-color: white;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container-chk input:checked~.checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container-chk .checkmark:after {
            left: 5px;
            top: -1px;
            width: 5px;
            height: 13px;
            border: solid #212121;
            border-width: 0 1px 1px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .small,
        small {
            font-size: 80%;
            font-weight: 400;
            position: relative;
            bottom: 8px;
        }

        .txt {
            position: relative;
            bottom: 4px;
            left: 2px;
        }

        .cancel {
            border: 1px solid #252222;
            background: #151414;
            color: white;
            width: 40%;
        }

        .btn.focus,
        .btn:focus {
            outline: 0;
            box-shadow: none !important;
        }
        .close.focus,
        .close:focus {
            outline: 0;
            box-shadow: none !important;
        }

        .create {
            border: 0.5px solid #ccc;
            background: #151414;
            color: white;
            width: 40%;
        }

        .close {
            color: white;
            font-weight: 100;
        }

        .modal-footer {
            justify-content: space-between;

        }


/*check box*/

.check-in{

border: 1px solid white;
padding: 10px;

}








